@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

h1{
    color: rgb(255, 156, 85);
    font-family: 'Playfair Display', serif; 
    font-size: 3.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.navbar {
    background: #b98d5499;
    padding: 1.2rem;
    text-align: center; 
}

.navbar-brand {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    transition: opacity 0.5s ease; 
}

.navbar-brand:hover {
    opacity: 0.7; 
}

.navbar-nav {
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}